Package: enigma2-plugin-extensions-cutlistdownloader
Version: 0.4
Description: Download cutlists from Cutlist.at
Maintainer: betonme (Frank Glaser <glaserfrank(at)gmail.com>)
Homepage: http://tecjunkie.blogspot.com/
Depends: enigma2 (>> 2.6git20090614), python-xml, python-twisted-core, python-twisted-web
